* {
    margin: 0;
    padding: 0;
}

.header {
    display: inline-flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: black;
    width: 100%;
}

.menu__font {
    color: white;
    font-family: arial, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

.search {
    font-size: 1.5rem;
}

.image__container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
}

.edit {
    width: 200px;
    height: 23px;
    border: 1px solid black;
    margin-right: 7px;
}

textarea {
    position: absolute;
    bottom: -65px;
    left: 308px;
    width: 600px;
    height: 55px;
}

.flex {
    display: flex;
    position: absolute;
    flex-flow: column;
    justify-content: space-between;
    height: 56px;
    bottom: -64px;
    left: -1px;
}

.menu__centering {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-top: 14px;
}

.menu__inputs--upload {
    color: black;
    font-family: arial, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    width: 300px;
    &:nth-of-type(1) {
        color: white;
    }
}

.remove {
    position: absolute;
    bottom: -33px;
    right: -1px;
    padding: 3px 15px;
}

.close {
    position: absolute;
    bottom: -65px;
    right: -1px;
    padding: 3px 23px;
}

.update__name {
    position: absolute;
    bottom: 31px;
    left: 209px;
    padding: 3px 23px;
}

.update__tag {
    position: absolute;
    bottom: -1px;
    left: 209px;
    padding: 3px 23px;
}